@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.primary {
  @apply bg-gradient-to-br from-[#00C0FF] to-[#4218B8]
}

.primary-reverse {
  @apply bg-gradient-to-br from-[#4218B8] to-[#00C0FF]
}

.text-primary {
  @apply bg-gradient-to-br from-[#00C0FF] to-[#4218B8] bg-clip-text text-transparent
}

.sticky {
  @apply fixed border-b border-b-gray-900 bg-black/40 backdrop-blur
}